package checkconfig


import freechips.rocketchip.config.{Parameters, Config}
import scala.reflect.runtime.universe._

object CheckConfig {
  // `def configsEqual(a: Parameters, b: Parameters): Boolean`
//CONFIGS_EQUAL

  def makeConfigPart(name: String): Parameters = {
    val mirror = runtimeMirror(getClass.getClassLoader)
    val clazz = mirror.staticClass(name)
    val ctor = clazz.info.member(termNames.CONSTRUCTOR).asMethod
    val clazzM = mirror.reflectClass(clazz)
    val ctorM = clazzM.reflectConstructor(ctor)
    ctorM.apply().asInstanceOf[Parameters]
  }

  // `baseConfigParts: Array[Parameters]`
//CONFIG_PARTS

  def buildConfig(names: Array[String]): Parameters = {
    var acc = Parameters.empty
    for (partName <- names) {
      acc = acc ++ makeConfigPart(partName)
    }
    for (part <- baseConfigParts) {
      acc = acc ++ part
    }
    acc
  }

  def buildConfigWithout(names: Array[String], skip: Int): Parameters = {
    var acc = Parameters.empty
    for ((partName, i) <- names.zipWithIndex) {
      if (i != skip) {
        acc = acc ++ makeConfigPart(partName)
      }
    }
    for (part <- baseConfigParts) {
      acc = acc ++ part
    }
    acc
  }

  var currentConfig = Parameters.empty

  def main(args: Array[String]) = {
    val names = args
    val config = buildConfig(names)

    // Config validity: are any of the elements in `configParts` being ignored?
    var ok = true
    for (i <- 0 until names.length) {
      if (configsEqual(config, buildConfigWithout(names, i))) {
        println(s"error: config part ${i} (${names(i)}) is unused")
        ok = false
      }
    }

    if (!ok) {
      System.exit(1)
    }

    // Build FIRRTL for current configuration
    currentConfig = config
    galois.system.Generator.main(Array(
      "build",
      "galois.system",
      "TestHarness",
      "checkconfig",
      "TheConfig",
    ))
  }
}

class TheConfig extends Config(CheckConfig.currentConfig)

object DumpConfig {
  // `def dumpConfig(a: Parameters)`
//DUMP_CONFIG

  def main(args: Array[String]) = {
    dumpConfig(CheckConfig.buildConfig(args))
  }
}
