[src.piccolo]
# BSV isn't supported yet, but the Verilog preprocessor handling works on it.
type = "verilog"
src-files = [
    "../gfe/bluespec-processors/P1/Piccolo/src_Core/*/*.bsv",
    #"../gfe/bluespec-processors/P1/Piccolo/src_SSITH_P1/src_BSV/*.bsv",
]

# Feature-model synthesis configuration
[featuresynth]
list-features-command = "./driver %c list-pp-flags"
oracle-command = "examples/piccolo/check-config.sh %i"
oracle-cache-file = "examples/piccolo/oracle.cache"
init-tests-file = "examples/piccolo/init-tests.rktd"
resume-tests-file = "examples/piccolo/resume-tests.rktd"
max-groups = 5
max-dependencies = 4
boredom-threshold = 5000
out-file = "piccolo.cfr"

hard-constraints = [
    # These are MMU options.  Piccolo doesn't have an MMU, so we disable them.
    "(! Sv32)",
    "(! SV34)",
    "(! SV39)",
    # Piccolo is a 32-bit core, not 64 or 128
    "RV32",
    "(! RV64)",
    "(! RV128)",
]

