[src.piccolo]
type = "bsv"
src-files = [
    "../gfe/bluespec-processors/P1/Piccolo/src_Core/*/*.bsv",
    "../gfe/bluespec-processors/P1/Piccolo/src_Testbench/*/*.bsv",
    "../gfe/bluespec-processors/P1/Piccolo/src_Testbench/*/*/*.bsv",
]
ast-dir = "examples/piccolo/ast"

library-packages = [
    # BSV Prelude
    "ActionSeq", "Array", "Assert", "Clocks", "ConfigReg", "Connectable",
    "Counter", "Enum", "Environment", "FIFO", "FIFOF", "FIFOF_", "FIFOLevel",
    "FShow", "FoldFIFO", "FoldFIFOF", "Fork", "GetPut", "Inout", "LevelFIFO",
    "List", "ListN", "Once", "Prelude", "PreludeBSV", "Probe", "ProbeWire",
    "RWire", "Real", "RegFile", "Reserved", "RevertingVirtualReg", "Vector",

    # BSV Libraries
    "BGetPut", "BitonicSort", "Boolify", "BRAM_Compat", "BRAMCore", "CGetPut",
    "ClientServer", "CompletionBuffer", "DPSRAM", "DReg", "EqFunction",
    "Esl_defs", "FlexBitArith", "IVec", "LFSR", "ListFIFO", "ListReg", "Mcp",
    "ModuleAugmented", "OInt", "OVLAssertions", "PopCount", "Pull", "Push",
    "RAM", "RegTwo", "RPush", "SplitTRAM", "SPSRAM", "SRAM", "SRAMFile",
    "StmtFSM", "STRAM", "SVA", "SyncSRAM", "Tabulate", "ToString", "TRAM",
    "TriState", "TurboFIFO", "UIntRange", "UniqueWrappers", "Wallace", "ZBus",
    "ZBusUtil",
]

bsc-flags = [
    "-D", "RV32",
    "-D", "ISA_PRIV_M",
    "-D", "ISA_PRIV_U",
    "-D", "ISA_I",
    "-D", "ISA_M",
    "-D", "ISA_A",
    "-D", "ISA_C",
    "-D", "SHIFT_SERIAL",
    "-D", "MULT_SYNTH",
    "-D", "Near_Mem_Caches",
    "-D", "FABRIC64",
]

[design]
root-module = "Top_HW_Side.mkTop_HW_Side"


[graphviz]
draw-nets = false
draw-logics = false
draw-ext-ports = true
draw-logic-ports = true
dedup-edges = true
shorten-net-names = true


# Feature-model synthesis configuration
[featuresynth]
list-features-command = "./driver %c list-pp-flags"
oracle-command = "examples/piccolo/check-config.sh %i"
oracle-cache-file = "examples/piccolo/oracle.cache"
init-tests-file = "examples/piccolo/init-tests.rktd"
resume-tests-file = "examples/piccolo/resume-tests.rktd"
max-groups = 3
max-dependencies = 3
out-file = "piccolo.cfr"

hard-constraints = [
    # These are MMU options.  Piccolo doesn't have an MMU, so we disable them.
    "(! Sv32)",
    "(! SV34)",
    "(! SV39)",

    # Piccolo is a 32-bit core, not 64 or 128
    "RV32",
    "(! RV64)",
    "(! RV128)",

    # MULT_* options are used only in `RISCV_MBox.bsv`, which is included only
    # when ISA_M is enabled.  Without this constraint, the solver gets very
    # confused about whether the MULT_* options are mutually exclusive or not.
    "(=> (|| MULT_SERIAL MULT_SYNTH) ISA_M)",

    # The rest of these we can hopefully get rid of soon.  These simply force
    # certain flags to match the settings in the default configuration.  This
    # helps us avoid tricky corners of the design that confuse the solver.
    "(! CSR_REGFILE_MIN)",
    "FABRIC64",
    "(! (|| ISA_F ISA_D ISA_FD ISA_FD_DIV ISA_F_OR_D) )",
    "(! (|| EXTERNAL_DEBUG_MODULE INCLUDE_GDB_CONTROL INCLUDE_TANDEM_VERIF) )",
]

