[src.piccolo]
# BSV isn't supported yet, but the Verilog preprocessor handling works on it.
type = "verilog"
src-files = [
    "../gfe/bluespec-processors/P1/Piccolo/src_Core/*/*.bsv",
    "../gfe/bluespec-processors/P1/Piccolo/src_SSITH_P1/src_BSV/*.bsv",
]

# Feature-model synthesis configuration
[featuresynth]
list-features-command = "./driver %c list-pp-flags"
oracle-command = "examples/piccolo/check-config.sh %i"
oracle-cache-file = "examples/piccolo/oracle.cache"
init-tests-file = "examples/piccolo/init-tests.rktd"
max-groups = 4
max-dependencies = 2
out-file = "examples/piccolo/piccolo.cfr"

